/* === GENERAL === */

html
{
    font-family: 'Lato';
    margin: 0;
    padding: 0;
    background-image: url("images/PlancheDeBois.jpg");
    background-position: center;
    background-repeat: repeat;
}

html
{
    overflow-y: scroll; 
}

img
{
    border: 1px solid #ccc;
}

img:hover
{
    border: 1px solid #777;
}

/* === HEADER === */

header
{
    background-image: url("images/Herbe_Background2.jpg");
    background-position: center;
    background-repeat: repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header h1
{
    color: black;
    font-size: 100px;
    margin: auto;
}

/* header img
{
    margin: 5px;
} */

/* === BARRE DE NAVIGATION === */

nav
{
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px grey;
}

nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden; 
} 

nav li
{
    float: left;
}

nav li a 
{
    display: block;
    color: #000;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #4CAF50;
}

nav .active {
    background-color: #4CAF50;
}

/* === PAGE D'ACCUEIL === */


/* Style général */

.Section1 h2, .Section2 h2
{
    text-decoration: underline;
    color: white;
    font-size: 50px;
}

.Section1 p, .Section2 p
{
    padding: 10px;
    text-align: justify;
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 6px 6px black;
    width: 55%; 
}

/* Haut de la page d'accueil */

.Haut
{
    display: flex;
    padding: 10px;
    justify-content: flex-start;
}

.Haut .Section1 h2, .Haut .Section2 h2
{
    margin-left: 250px;
    position: relative;
}

.Haut .Section1 p, .Haut .Section2 p
{
    position: relative;
    margin-left: 250px;
}

/* Bas de la page d'accueil */

.Equipe
{
    flex-wrap: wrap;
}

.Equipe img
{
    border-radius: 50%;
    float: left;
    width: 150px;
    height: auto;
}


/* === PAGE DE CONTACT === */

.Formulaire
{
    text-align: center;
}


/* === PAGE DES PRODUITS === */

.Produits img
{
    width: 350px;
    height: auto;
}

.Produits table, th, td
{
    border: 1px solid white;
}

.Produits .LieuCulture
{
    color: blue;
    width: 10%;
}

/* === FIN DE PAGE === */

footer
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: white;
    text-align: center;
}