/* === GENERAL === */

html
{
    font-family: 'Lato';
    margin: 0;
    padding: 0;
    background-image: url("images/PlancheDeBois.jpg");
    background-position: center;
    background-repeat: repeat;
    overflow-y: scroll;
}

img
{
    border: 1px solid #ccc;
}

img:hover
{
    border: 1px solid #777;
}

body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* === HEADER === */

header
{
    background-image: url("images/Header/Herbe_Background.jpg");
    background-position: center;
    background-repeat: repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header h1
{
    color: black;
    font-size: 100px;
    margin: auto;
}

/* === BARRE DE NAVIGATION === */

nav
{
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px grey;
}

nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden; 
} 

nav li
{
    float: left;
}

nav li a 
{
    display: block;
    color: #000;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #4CAF50;
}

nav .active {
    background-color: #4CAF50;
}

/* === PAGE D'ACCUEIL === */

.Main
{
    margin-left: 30px;
    display: flex;
}

.Bloc_Texte
{
    flex: 1;
}

.Equipe
{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.Fondateur1
{
    display: flex;
    flex: 1;
}


.Fondateur2
{
    display: flex;
    flex: 1;
}

.Bloc_Texte h2
{
    text-decoration: underline;
    color: white;
    font-size: 50px;
}

.Bloc_Texte p
{
    padding: 10px;
    text-align: justify;
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 6px 6px black;
    width: 55%; 
}

.Main .DescriptionMagasin
{
    margin-left: 75px;
}

.Main .NosProduits
{
    margin-left: 150px;
}

.Main .Equipe
{
    margin-left: 100px;
}

.Main .Bloc_Texte p
{
    width: 50%;
} 

.Main .Equipe .Bloc_Texte
{
    margin-left: 70px;
}

.Main .Equipe .Fondateur2
{
    margin-top: 20px;
}

.Main .Equipe img
{
    border-radius: 50%;
    width: 150px;
	height: 150px;
}

.Main h2
{
    text-decoration: underline;
    color: white;
    font-size: 50px;
}

/* === PAGE DE CONTACT === */

.Formulaire
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.Formulaire h2
{
    text-align: center;
    color: black;
}

.Formulaire input
{
    border: 1px solid grey;
	border-radius: 4px;
}

.Formulaire label.inline
{
    display: inline-block;
}

.Formulaire textarea
{
    width: 100%;
    height: 100px;
    margin-top: 3px;
    resize: none;
}

.Formulaire label.select_group
{
	margin-left: 20px;
}

.Formulaire .Bouton
{
    width: 10%;
    height: 20px;
    border: 1px solid orangered;
}

.Formulaire .Bouton:hover
{
    border: 2px solid orangered;
}

.Formulaire fieldset
{
    background: lightgrey;
    margin-top: 30px;
    text-decoration: none;
    border: 1px solid black;
}

/* === PAGE DES PRODUITS === */

.Produits
{
    text-align: center;
}

.Produits h2
{
    color: white;
    text-decoration: underline;
    font-size: 50px;
}

.Produits img
{
    display:block;
    width: 350px;
    height: auto;
}

.Produits table
{
    margin-top: 50px;
    border-collapse: collapse;
    margin-left: auto; 
    margin-right: auto;
    background-color: lightgray;
}

.Produits th
{
    text-decoration: underline;
}

.Produits th, td
{
    border: 1px solid black;
    padding: 10px;
}

.Produits ul
{
    text-align: left;
    margin-right: 10px;
}

.Produits a:link, .Produits a:visited
{
    color: black;
}

/* === PAGE DES PRODUCTEURS === */

#Producteurs
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow-x: hidden;
}

#Producteurs .Bloc_Texte
{
    margin-left: 125px;
    width: 100%;
}

#Producteurs td
{
    border: none;
}

#Producteurs h2
{
    color: white;
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
}   

#Producteurs p
{
    text-align: center;
}

#Producteurs img
{
    width: 40%;
    height: auto;
}

/* === PAGE DE LA LOCALISATION === */

.Localisation
{
    margin-left: auto;
    margin-right: auto;
    width: 32%;
    background-color: lightgray;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
}

.Localisation h2
{
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
}

/* === PAGE DE L'A PROPOS === */

.Apropos .Bloc_Texte 
{
    width: 50%;
}

.Apropos h2
{
    color: white;
    text-decoration: underline;
}

/* === FIN DE PAGE === */

footer
{
    margin-top: auto;
    color: white;
    text-align: center;
    text-decoration: underline;
}